* { margin: 0; padding: 0; box-sizing: border-box; text-align: center;}
body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  align-items: center;
}
canvas { 
  margin: 0vmin;
  width: 100vmin;
  height: 100vmin;
  border: 0px solid white;
  background: black;
  image-rendering: auto;
}
#grid1 {
  display: grid;
  padding-top: 3vh;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vmin 5vmin;
  height: 0vh;
  font-size: 4vh;
  color: DeepSkyBlue
}
#grid2 {
  display: grid;
  padding-top: 3vh;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vmin 5vmin;
  height: 0vh;
  font-size: 4vh;
  color: SpringGreen
}
#loginDiv {
  width: 100vw;
  height: 40vh;
  padding-top: 10vh;
  font-size: 8vmin;
  font-weight: bold;
  font-family: Tahoma;
  border: 0px solid white;
  user-select: none;
  color: white;
  margin: 0px;
  z-index: 9;
  position: absolute;
  opacity: 1;
}
.notification {
  width: 100vw;
  height: 40vh;
  padding-top: 10vh;
  font-size: 8vmin;
  font-weight: bold;
  font-family: Tahoma;
  border: 0px solid white;
  user-select: none;
  color: white;
  margin: 0px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  display: none;
}
#gameDiv {
  width: 100vw;
  height: 100vh;
  font-size: 8vmin;
  font-weight: bold;
  font-family: Tahoma;
  border: 0px solid white;
  user-select: none;
  color: white;
  margin: 0px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}
#nameInput {
  background-color: #222222;
  width: 60vmin;
  color: white;
  font-size: 7vmin;
  padding: 2vmin;
}
#joinButton {
  background-color: #222222; 
  border: none;
  color: white;
  font-size: 8vmin;
  padding: 3vmin 5vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: 2px solid white;
  border-radius: 2vmin;
}
#joinButton:hover {
  outline: 4px solid white;
}